
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$white: #fff;
$whitered: #fff1f1;
$palered : #ff9c9c;
$emphasis : #ff5151;
$primary: #ff0000;
$secondary: #b50000;
$darkred: #6a0000;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: inside;
}

body{
    font-family: "Open Sans", sans-serif;
    background: $whitered;
}

form{
    display: flex;
    flex-direction: column;
}