@import '../../index.scss';

.header {
  background: $secondary;
  height: 10vh;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Navbar {
    a {
      margin-left: 15px;
      font-weight: 600;
      color: $white;
      &.active {
        color: $palered;
        text-decoration: underline;
      }
    }
  }
}
